# Arquivos de configuração Docker (se não usados dentro da imagem)
docker-compose.yml
Dockerfile
Dockerfile.prod

# Diretórios de build locais
target/
build/

# Configurações do IDE e arquivos temporários
*.iml
*.ipr
*.iws
.idea/
.vscode/
*.class

# Logs
*.log

# Sistema operacional
.DS_Store
Thumbs.db

# Git
.git
.gitignore